/* global reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, blockquote, 
dl, dt, dd, ol, ul, li,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, input, textarea {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   vertical-align: baseline;
   font-family: inherit;
   font-size: 100%;
   font-style: inherit;
   font-weight: inherit;
}

/* codestar reset */
body {
   line-height:1;
}

*:focus {
	outline: 0; 
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {
   text-decoration:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}
img { 
	border:0;
}

.clear{
   clear:both;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}