/*
	Widget Styles
*/
div[id*="_custom_tag_cloud-__i__"] .widget-top,
div[id*="_custom-recent-posts-__i__"] .widget-top,
div[id*="_custom_categories-__i__"] .widget-top{
	border-color:#77c8d2 !important;
	background:url(../images/drag.png) no-repeat 5px center transparent!important;
}

div[id*="_custom_tag_cloud-__i__"] .widget-title,
div[id*="_custom-recent-posts-__i__"] .widget-title,
div[id*="_custom_categories-__i__"] .widget-title{
	padding-left:25px;
}

#tagsdiv-post_tag{ z-index:1; }

#category-adder,
#portfolio_type-adder{
	display:none;
}

.wp_blog_post{		display:block;	}
.wp_blog_image{		padding-left: 10px; }
.mceLast  { background-color:#fff;}


a.add_media{ 		display:none; }
.wp-media-buttons{	padding-top: 5px !important; }


.custom_categories .span_select{
	display:none !important;
}


/*
	HOME PAGE WIDGETS styles
*/
.table_home_design h2{				margin-bottom:0 !important;	}
.table_home_design .icon_edit{		clear:both;	float:none !important;	margin:0 auto !important;	text-decoration:none;	}
.table_home_design .option_rows{	text-align:center;	}


.home_model{				position:relative;	display:table;	}
.home_model ul li{				float:left;	width:80px; 	height:80px; 	margin-right:2px;	border:3px solid #ddd;	}
.home_model ul li label{			float:left;	width:100%; 	height:100%;	text-indent: -9999px;	}
.home_model .span_select{	display:none;	}
.home_model ul li.selected{	border:3px solid #e2f5ff;	}

.check_home_model_boxes{		background-image:url(../images/home_design/boxes.jpg);	}
.check_home_model_blog{			background-image:url(../images/home_design/blog.jpg);	}
.check_home_model_portfolio{	background-image:url(../images/home_design/portfolio.jpg);	}
.check_home_model_custom{		background-image:url(../images/home_design/custom.jpg);	}
.check_home_model_nothing{		background-image:url(../images/home_design/nothing.jpg);	}
.check_home_model_recently_and_boxes{		background-image:url(../images/home_design/recently_and_boxes.jpg);	}
.check_home_model_recently{		background-image:url(../images/home_design/recently.jpg);	}


/*
	SLIDERS STYLE
*/
.cancel_edit,
.remove{		cursor:pointer;	}

.icon_up{		background:url(../images/up.png) top left no-repeat !important;	width:22px !important;	height:16px !important;	display: table !important;	float: left !important;	margin-right:5px;	}
.icon_add{		background:url(../images/icon_add.png) no-repeat;	}
.icon_edit{		background:url(../images/edit.png) top left no-repeat !important;	width:33px !important;	height:16px !important;	display: table !important;	float: left !important;	cursor:pointer;	margin-right:10px;	}
.icon_down{		background:url(../images/down.png) top left no-repeat !important;	width:35px !important;	height:16px !important;	display: table !important;	float: left !important;	margin-right:10px;	}
.icon_remove{	background:url(../images/delete.png) top left no-repeat !important;	width:42px !important;	height:15px !important;	display: table !important;	float: left !important;	cursor:pointer;	margin-right:10px;	}
.icon_preview{	background:url(../images/icon_preview.png) no-repeat; }
.icon_category{	background:url(../images/icon_category.png) no-repeat;	}
.icon_settings{	background:url(../images/icon_settings.png) no-repeat;	}

.sliders_warp{	width:100%; 	margin-top:15px; 	float:left;	}
.slider_ul a{	text-decoration:none;	}
.slider_ul li{	margin:0;	padding:0;	float:left;	}
.slider_ul li ul{	float:left;	margin-left:10px;	}
.slider_ul li ul li{	clear:both;	padding-left:40px;	padding-top:8px;	margin-right:5px;	height:24px;	width:150px;	font-size:11px;	margin-bottom:15px; }

.slider_img{	float:left;	width:250px;	height:125px;	margin-bottom:50px;	background-color:#fff;	}
.slider_id_1{	background:url(../images/sliders/slider_id_1.png) no-repeat;	}
.slider_id_2{	background:url(../images/sliders/slider_id_2.png) no-repeat;	}
.slider_id_3{	background:url(../images/sliders/slider_id_3.png) no-repeat;	}
.slider_id_4{	background:url(../images/sliders/slider_id_4.png) no-repeat;	}
.slider_id_5{	background:url(../images/sliders/slider_id_5.png) no-repeat;	}
.slider_id_6{	background:url(../images/sliders/slider_id_6.png) no-repeat;	}

.slider_note{			clear:both; 	float:left; 	margin-bottom:25px; 	font-size:11px;	color:#777;	width:75%;	}
.categorydiv{			margin:5px;	}
.go_back_save{			float:left; 	margin-top: 5px;	}
.slider_filter{			width:200px;	}
.category-tabs{			font-size:11px;	}
.add_new_button{		margin-left: 10px; margin-top: 5px; position: absolute; }
.slider_form_field{		margin-bottom:10px;	}
.category-tabs .tabs{	padding:5px 12px !important;	}
.slider_custom_fields{	clear:both; height:85px; margin:10px 0 0 5px;	}
.slider_upload_picture{	float:left; margin-left:20px; width:75%; height:50px; margin-bottom:20px;	}



/*
	General Metabox Styles
*/
#blog_page_custom_fields,
#portfolio_page_custom_fields{
	display:none;
}

.external_pic img,
.upload_pic img{
	height:100% !important; 
	width:100% !important;
}

#page_template option{	padding:5px !important;	}
#page_template{			height: 30px !important;	padding: 5px !important;	width: 260px !important;	background-color: #FFF2F2;	border: 1px solid #FFD5D7;	}

.upload_pic{	clear: left;	display: block;	position: relative;	float:left;	height:70px; 	width:70px;	padding:5px;	border:1px solid #f1f1f1;	background:#f9f9f9 url(../images/upload_bg.png) no-repeat scroll 50% 50%;	}
.external_pic{	float:left;	height:70px; 	width:70px;	padding:5px;	border:1px solid #f1f1f1;   background:#f9f9f9 url(../images/icon_external.png) no-repeat scroll 50% 50%;	}
.upload_preview_input { clear: right; float: right;  margin-right: -100px; width: 100%; }
.upload_preview_warp { margin-right: 110px; }

/*
	Sidebar Layouts Metabox Styles
*/
.checkbox__sidebar_type{				position:relative;	display:table;	}
.checkbox__sidebar_type ul li{				float:left;	width:80px; 	height:80px; 	margin-right:1px;	border:2px solid #ddd;	}
.checkbox__sidebar_type ul li label{			float:left;	width:100%; 	height:100%;	text-indent: -9999px;	}
.checkbox__sidebar_type .span_select{	display:none;	}
.checkbox__sidebar_type ul li.selected{	border:2px solid #ffc96f;	}



.check__sidebar_type_full{				background-image:url(../images/full_width_page.jpg);	}
.check__sidebar_type_left{				background-image:url(../images/sidebar_left.jpg);	}
.check__sidebar_type_right{				background-image:url(../images/sidebar_right.jpg);	}
.check__sidebar_type_top_custom{		background-image:url(../images/sidebar_top_custom.jpg);	}
.check__sidebar_type_bottom_custom{		background-image:url(../images/sidebar_bottom_custom.jpg);	}
.check__sidebar_type_sidebar_no{		background-image:url(../images/sidebar_no.jpg);	}


/*
	Available Formats veya Click for to How-to ToolTip
*/
.hows_to{				float:left;	margin:0; padding:0; }
.hows_to li{				line-height:11px;	float:left;	margin-right:5px;	font-size:11px;	font-family:Tahoma;	cursor:pointer;	}
.hows_to li span{			display:none; }
.hows_to_widgets li{		clear:both; margin-top:5px; }
.hows_to_infos{			z-index:2; width:450px; 	padding-bottom:5px;	position:absolute; 	display:none; 	text-align:center;	background:url(../images/tooltip.gif) no-repeat bottom center;	font-size:11px;	line-height:11px;	}
.hows_to_infos_bg{		background-color:#111;	padding:5px;	color:#ccc;	-webkit-border-radius: 4px;	-moz-border-radius: 4px; 	border-radius: 4px;	line-height:15px;	}
.hows_to_infos_bg i{		color:#ff9000;	font-weight:bold;	}
.hows_to_infos_bg strong{	color:#00f0ff;	}
.available_formats{		float:left;	margin-right:5px;	font-size:11px;	line-height:11px;	font-family:Tahoma;	}



/*
	Framework Table Skin Styles
*/
.framework_header{	background: url(../images/header.jpg);	height:101px;	width:800px !important;	margin-top:16px;	position:relative;	}
.framework_info{	position:absolute;	bottom:0;		padding:0 0 5px 15px;	background-color: #222;	width:785px;	color:#666;	text-align:left;	font-size:11px;	font-family:Tahoma;	}
.framework_action{	float:right;	margin-top:15px;	margin-right:10px;	color:#666;	text-align:left;	font-size:11px;	font-family:Tahoma;	}
.framework_action *{	border:0 !important;	-moz-border-radius:0 !important;	background:none !important;	}
.form_submits{		color: #FFFFFF !important;	font-size:0;	cursor:pointer;	}
.reset_options{		background: url(../images/reset_options.png) !important;	width:25px;	height:35px;	line-height:35px;	}
.save_options{		background: url(../images/save_changes.png) !important;	width:25px;	height:35px;	line-height:35px;	margin-right:10px;	}
.framework_footer{	width:800px;	height:67px;	text-align:right;	background: url(../images/footer.jpg);	position:relative;	margin-bottom:20px;	}
.for_0{	width:25%;	vertical-align:top;	padding:20px 10px;	}
.for_1{	width:70%;	vertical-align:top;	padding:20px 10px;	}
.for_2{	width:5%;	vertical-align:top;	padding:20px 10px;	}

/*
	Framework Options Styles
*/
.option_label{ 		clear:both; margin:10px 0; font-size:11px; line-height:11px; }
.option_holder{ 	clear:both; margin-bottom:25px; width:100%; display:table; }
.option_notes{		clear:both; float:left; margin-top:10px; }
.option_notes ul li {	background:url(../../../images/icons/menu_arrow.png) left 10px no-repeat; list-style: none; padding: 2px 10px; font-size:11px; line-height:21px;	}
.span_select{		cursor:pointer;	float:left;	font-size:11px;	margin-top:10px;	}
.form-field{		padding-left:0 !important; }



.option_tables{		width:800px;	border: 1px solid #d6d6d6;	border-top:0;	}
.option_rows{		border-top: 1px solid #fff;	background:#ddd url(../images/option_rows_bg.jpg) repeat-x;	}
.option_header{		background-image:url(../images/option_header_bg.jpg);	color:#fff;	line-height:30px;	padding:20px;	font-size:30px;	font-family:"Trebuchet MS";	text-shadow:1px 1px #d28200; font-weight:bold;	margin:-20px -10px;	}

/* Option Texts */
.option_full_text{	color:#444;	line-height:21px;	letter-spacing:0.2px;	font-size:11px;	font-family:Tahoma;	text-shadow:1px 1px #fff;	}
.option_text{		font-size:11px;	font-family:Tahoma;	color:#555;	font-weight:bold;	text-shadow:1px 1px #fff;	}

/* Option select */
.option_select select{			-moz-border-radius:0;	}
.option_select select option{	padding: 5px !important;	padding-right: 30px !important;	}

/* Option slider */

.option_slider_holder{		margin-right: -120px; float: left; width: 100%;}
.option_slider_drag{		margin-right: 120px;}
.option_slider_text{		float: left; position: relative; }
.option_slider_text input{	background:#fff url(../images/text_bg.jpg) top repeat-x;	border:1px solid #ddd;	-moz-border-radius:0;		width:50px !important; 	height:25px;		float:left; 	font-size:11px; 	font-family:Tahoma;	margin-left:15px !important; 	margin-top:-5px;	}
.option_slider_info {		float:left; 	font-family:Tahoma; 	font-size:11px; 	color:#999; 	margin-left:5px;	}
.option_slider_alpha {		display:table;	clear:both; 	margin:5px 0; 	padding:5px;	color:#555;	float:left;	background-color:#000;	-moz-border-radius: 5px; 	-webkit-border-radius: 5px; 	border-radius: 5px;	font-size:11px;	}

/* Option colorPicker */
.option_colorpicker{		float:left;	width:100%;	}
.option_colorpicker input{	background:#fff url(../images/text_bg.jpg) top repeat-x;	width:100%;	height:30px;	margin-top:-5px;	-moz-border-radius:0;	border:1px solid #ddd;	}


/*	Option Help	*/
.option_help{		font-size:11px;	font-family:Tahoma;	color:#555;	 position:relative; z-index:5; }
.option_help img{		float:left;	margin-right:5px;	margin-top:2px; }


/*	Option ToolTip */
.option_tooltip{			font-size:11px;	font-family:Tahoma;	color:#555;	 position:relative; z-index:5; }
.option_tooltip img{			float:left;	margin-right:5px;	margin-top:2px; }

span.tooltip{				display:none;	}
.tooltip_content{			position:absolute;	padding:5px;	z-index:4;	display:none; }

.tooltip_text{				padding:5px;	font-size:11px;	text-align:center;	width:400px;
	color:#ddd;	
	background-color:#111111;
	-webkit-border-radius: 3px;	
	-moz-border-radius: 3px; 	
	border-radius: 3px;
	float:left;

}
.tooltip_arrow{		
float:right;	
border-color: transparent transparent transparent #222222;
border-width: 5px;
border-style: solid; 
font-size:0; 
line-height:0;
height:0;
width:0; 
}


/* Option On Off*/
.lambs{									width:14px;	height:22px;	float:left;	margin-right:10px;	}
.lamb_off{								background:url(../images/lamb_off.png) left top no-repeat;	}
.lamb_on{								background:url(../images/lamb_on.png) left top no-repeat;	}
div.toggleSwitch{						display:table;	height.4em;	}
div.toggleSwitch div.switchArea{			cursor: pointer;	cursor: hand;	float: left;	background: url(../images/toggle_bg.png) top left no-repeat transparent;	width: 64px;	height: 24px;	}
div.toggleSwitch span.switchHandle{		display: block;	background: #aaa;	width: 30px;	height: 100%;	margin-left: 34px;	}
div.toggleSwitch span.switchHandle.left{	background-image: url(../images/toggle_on.png);	}
div.toggleSwitch span.switchHandle.right{	background-image: url(../images/toggle_off.png);	}

/* Option text, textarea, upload */
.option_upload_input textarea,
.option_textarea textarea,
.option_input_text input{
	background:#fff url(../images/text_bg.jpg) top repeat-x;
	width:100%;
	height:30px;
	-moz-border-radius:0 !important;
	border:1px solid #ddd;
}

.option_upload_input textarea{	height:50px;	margin-top:0;	}
.option_upload_insert{		float:left; 	margin-top:5px; 	clear:both;	z-index:2; position:relative; }
.option_upload_insert a{		background:url(../images/upload_button.png) top left no-repeat transparent;	width:62px;	height:24px;	float:left;	text-decoration:none;	}
.option_textarea textarea{		height:100px;	margin-top:0;	}

.option_upload_input textarea:focus,
.option_slider_text input:focus,
.option_colorpicker input:focus,
.option_select select:focus,
.option_textarea textarea:focus,
.option_input_text input:focus {
    border: 1px solid #ffc96f;
	box-shadow:0 0px 5px #ffda9d;
}

/* WordPress admin help button fixing... */
#screen-options-link-wrap, 
#contextual-help-link-wrap{	position: absolute;	right: 9px;	z-index: 1;	}
#media-buttons a {			padding-left:6px !important;	}	
#editor-toolbar{			font-size:11px;	}

/* Column Post Styles */
.column-column_preview{		width:80px;	}
.portfolio_filter{			min-width:155px; }
/* 
	Editor Styles QuickTags & Tinymce
*/
.editorcontainer { 			overflow:hidden; background:#FFFFFF; }
.editorcontainer textarea { 	width:98%;  padding: 6px; line-height: 150%; border: 0 none; outline: none;	-moz-box-sizing: border-box;	-webkit-box-sizing: border-box;	-khtml-box-sizing: border-box; box-sizing: border-box; }
.quicktags {					border:1px solid #DFDFDF; border-collapse: separate; -moz-border-radius: 6px 6px 0 0; -webkit-border-top-right-radius: 6px; -webkit-border-top-left-radius: 6px; -khtml-border-top-right-radius: 6px; -khtml-border-top-left-radius: 6px; border-top-right-radius: 6px; border-top-left-radius: 6px; }
.quicktags {					padding: 0; margin-bottom: -1px; border-bottom-width:1px;	background:#dfdfdf url(../images/ed-bg.gif) repeat-x top left; }
.quicktags div div {			padding: 2px 4px 0; }
.quicktags div div input {		margin: 3px 1px 4px; line-height: 18px; display: inline-block; border-width: 1px; border-style: solid; min-width: 26px; padding: 2px 4px; font-size: 12px; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background:#FFFFFF url(../images/fade-butt.png) repeat-x scroll 0 -2px; overflow: visible; }

/* 
	Colorpicker Script Styles 
*/
.cp_box{					float:right;	width:25px;	position:relative;	top:-28px;}
.cp_box div {					width: 14px;height: 14px;	position: absolute;	left: 5px;	top: 5px;	box-shadow: 1px 1px 0px #ccc;	-webkit-box-shadow: 1px 1px 0px #ccc;	-moz-box-shadow: 1px 1px 0px #ccc;	-webkit-border-radius: 14px;	-moz-border-radius: 14px;	border-radius: 14px;		}
.colorpicker {				width: 342px;	height: 170px;	overflow: hidden;	position: absolute;	background: #fafafa url(../images/colorpicker/color_bg.png);	font-family: Arial, Helvetica, sans-serif;	display: none;	border: 1px solid #ccc;	border-color: #ddd #bbb #bbb #ddd;	-moz-border-radius: 4px;	-webkit-border-radius: 4px;	border-radius: 4px;	z-index: 100;}
.colorpicker_color {			width: 150px;	height: 150px;	left: 10px;	top: 10px;	position: absolute;	background: #f00;	overflow: hidden;	cursor: crosshair;}
.colorpicker_color div {		position: absolute;	top: 0;	left: 0;	width: 150px;	height: 150px;	background: url(../images/colorpicker/color_overlay.png);}
.colorpicker_color div div {	position: absolute;	top: 0;	left: 0;	width: 11px;	height: 11px;	overflow: hidden;	background: url(../images/colorpicker/color_select.gif);	margin: -5px 0 0 -5px;}
.colorpicker_hue {			position: absolute;	top: 10px;	left: 164px;	width: 35px;	height: 150px;	cursor: n-resize;}
.colorpicker_hue div {		position: absolute;	width: 35px;	height: 9px;	overflow: hidden;	background: url(../images/colorpicker/color_indicator.png) left top;	margin: -5px 0 0 0;}
.colorpicker_new_color {		position: absolute;	width: 60px;	height: 30px;	right: 80px;	top: 10px;	background: #f00;}
.colorpicker_current_color {	position: absolute;	width: 60px;	height: 30px;	right: 10px;	top: 10px;	background: #f00;}
.colorpicker input {			background-color: transparent;	border: 1px solid transparent;	position: absolute;	font-size: 10px;	font-family: Arial, Helvetica, sans-serif;	color: #666;	top: 6px;	right: 11px;	text-align: right;	margin: 0;	padding: 0;	height: 11px;}
.colorpicker_hex {			position: absolute;	width: 72px;	height: 22px;	background: url(../images/colorpicker/color_hex.png) top;	left: 201px;	bottom: 9px;}
.colorpicker_hex input {		right: 6px;}
.colorpicker_field {			height: 22px;	width: 62px;	background-position: top;	position: absolute;}
.colorpicker_field span {		position: absolute;	width: 12px;	height: 22px;	overflow: hidden;	top: 0;	right: 0;	cursor: n-resize;}
.colorpicker_rgb_r {			background-image: url(../images/colorpicker/color_rgb_r.png);	top: 49px;	left: 201px;}
.colorpicker_rgb_g {			background-image: url(../images/colorpicker/color_rgb_g.png);	top: 79px;	left: 201px;}
.colorpicker_rgb_b {			background-image: url(../images/colorpicker/color_rgb_b.png);	top: 109px;	left: 201px;}
.colorpicker_hsb_h {			background-image: url(../images/colorpicker/color_hsb_h.png);	top: 49px;	right: 9px;}
.colorpicker_hsb_s {			background-image: url(../images/colorpicker/color_hsb_s.png);	top: 79px;	right: 9px;}
.colorpicker_hsb_b {			background-image: url(../images/colorpicker/color_hsb_b.png);	top: 109px;	right: 9px;}
.colorpicker_submit {		position: absolute;	width: 16px;	height: 16px;	background: url(../images/colorpicker/color_wheel.png) top;	right: 10px;	bottom: 10px;	overflow: hidden;}
.colorpicker_focus {			background-position: center;}
.colorpicker_slider {		background-position: bottom;}
.colorpicker_hex .colorpicker_focus {	background-position: bottom;}
.colorpicker_submit .colorpicker_focus {	background-position: bottom;}

/*
	jQuery UI CSS Framework 1.8.8
*/
.ui-widget { 	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #dddddd; background: #fff; color: #333333; }
.ui-widget-content a { color: #333333; }
.ui-widget-header { border: 1px solid #e78f08; background-color: #ffc100; color: #ffffff; font-weight: bold; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;}
.ui-widget-header a { color: #ffffff; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #cccccc; background: #f6f6f6; font-weight: bold; color: #1c94c4; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #1c94c4; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #fbcb09; background: #fdf5ce; font-weight: bold; color: #c77405; }
.ui-state-hover a, .ui-state-hover a:hover { color: #c77405; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #fbd850; background: #ffffff url(../images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #eb8f00; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #eb8f00; text-decoration: none; }
.ui-widget :active { outline: none; }

.ui-corner-tl { -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; border-top-left-radius: 10px; }
.ui-corner-tr { -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; border-top-right-radius: 10px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px; border-bottom-left-radius: 10px; }
.ui-corner-br { -moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px; border-bottom-right-radius: 10px; }
.ui-corner-top { -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; border-top-left-radius: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; border-top-right-radius: 10px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px; border-bottom-left-radius: 10px; -moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px; border-bottom-right-radius: 10px; }
.ui-corner-right {  -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; border-top-right-radius: 10px; -moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px; border-bottom-right-radius: 10px; }
.ui-corner-left { -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; border-top-left-radius: 10px; -moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px; border-bottom-left-radius: 10px; }
.ui-corner-all { -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }

.ui-widget-overlay { background: #666666; opacity: .50;filter:Alpha(Opacity=50); }
.ui-widget-shadow { margin: -5px 0 0 -5px; padding: 5px; background: #000000; opacity: .20;filter:Alpha(Opacity=20); -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }


/* POST FIELDS */
.post_fields{
	clear:both;
	display:block;
}

.post_thumbnail{
	clear:both;
	display:block;
	float:left;
	width:100%;
	margin-bottom:30px;
}

.post_field_title{		
	margin-bottom:10px;
	font-weight:bold;
}

.post_thumbnail_note{
	clear:both; 
	float:right; 
	text-align:right; 
	margin-top:-25px; 
	font-size:10px; 
	z-index:0; 
	font-style:italic; 
	color:#999;
}

.cleardiv{
	clear:both !important;
	width:100% !important;
	margin:0 !important;
	padding:0 !important;
}


/*
	check_bonus
*/

.check_bonus ul li{		float:left;	width:80px; 	height:80px; 	margin-right:2px;	border:3px solid #999;	}
.check_bonus ul li label{	float:left;	width:100%; 	height:100%;	text-indent: -9999px;	}
.check_bonus .span_select{	display:none;	}
.check_bonus ul li.selected{	border:3px solid #000;	}

.check_check_bonus_post{		background-image:url(../images/delete/1.jpg);	}
.check_check_bonus_page{		background-image:url(../images/delete/2.jpg);	}
.check_check_bonus_categories{	background-image:url(../images/delete/3.jpg);	}
.check_check_bonus_sliders{		background-image:url(../images/delete/4.jpg);	}

.repeat-x{
	background-repeat:repeat-x !important;
}
.repeat-y{
	background-repeat:repeat-y !important;
}
.no-repeat{
	background-repeat:no-repeat !important;
}



/* fringe tech framework options */

.header_type ul {			margin:0;	}
.header_type ul li{		float:left;	width:100px; 	height:50px; 	margin-right:2px;	border:3px solid #ddd;	}
.header_type ul li label{	float:left;	width:100%; 	height:100%;	text-indent: -9999px;	}
.header_type .span_select{	display:none;	}
.header_type ul li.selected{	border:3px solid #ffc96f;	}

.check_header_type_default{	background-image:url(../images/header_type/default.png);	}
.check_header_type_center{	background-image:url(../images/header_type/center.png);	}
.check_header_type_left{	background-image:url(../images/header_type/left.png);	}
.check_header_type_right{	background-image:url(../images/header_type/right.png);	}



.w_icon ul li{		float:left;	width:36px; 	height:36px; 	margin-right:2px;	border:3px solid #ddd;	background-image:url(../../../images/icons/box_title_icons.png); }
.w_icon ul li label{	float:left;	width:100%; 	height:100%;	text-indent: -9999px;	}
.w_icon .span_select{	display:none;	}
.w_icon ul li.selected{	border:3px solid #ffc96f;	}

.check_w_icon_box_icon1{ 		background-position:0 0; }
.check_w_icon_box_icon2{ 		background-position:0 -36px; }
.check_w_icon_box_icon3{ 		background-position:0 -72px; }
.check_w_icon_box_icon4{ 		background-position:0 -108px; }
.check_w_icon_box_icon5{ 		background-position:0 -144px; }
.check_w_icon_box_icon6{ 		background-position:0 -180px; }
.check_w_icon_box_icon7{ 		background-position:0 -216px; }
.check_w_icon_box_icon8{ 		background-position:0 -252px; }
.check_w_icon_box_icon9{ 		background-position:0 -288px; }
.check_w_icon_box_icon10{ 		background-position:0 -324px; }
.check_w_icon_box_icon11{ 		background-position:0 -360px; }
.check_w_icon_box_icon12{ 		background-position:0 -396px; }
.check_w_icon_box_icon13{ 		background-position:0 -432px; }
.check_w_icon_box_icon14{ 		background-position:0 -468px; }
.check_w_icon_box_icon15{ 		background-position:0 -504px; }
.check_w_icon_box_icon16{ 		background-position:0 -540px; }
.check_w_icon_box_icon17{ 		background-position:0 -576px; }
.check_w_icon_box_icon18{ 		background-position:0 -612px; }
.check_w_icon_box_icon19{ 		background-position:0 -648px; }
.check_w_icon_box_icon20{ 		background-position:0 -684px; }
.check_w_icon_box_icon21{ 		background-position:0 -720px; }
.check_w_icon_box_icon22{ 		background-position:0 -756px; }
.check_w_icon_box_icon23{ 		background-position:0 -792px; }
.check_w_icon_box_icon24{ 		background-position:0 -828px; }
.check_w_icon_box_icon25{ 		background-position:0 -864px; }
.check_w_icon_box_icon26{ 		background-position:0 -900px; }
.check_w_icon_box_icon27{ 		background-position:0 -936px; }
.check_w_icon_box_icon28{ 		background-position:0 -972px; }
.check_w_icon_box_icon29{ 		background-position:0 -1008px; }

.footer_type ul {			margin:0;	}
.footer_type ul li{		float:left;	width:100px; 	height:60px; 	margin-right:2px;	border:3px solid #ddd;	}
.footer_type ul li label{	float:left;	width:100%; 	height:100%;	text-indent: -9999px;	}
.footer_type .span_select{	display:none;	}
.footer_type ul li.selected{	border:3px solid #ffc96f;	}

.check_footer_type_model1{	background:url(../images/footer_type/model1.png) no-repeat 50% 50%;	}
.check_footer_type_model2{	background:url(../images/footer_type/model2.png) no-repeat 50% 50%;	}
.check_footer_type_model3{	background:url(../images/footer_type/model3.png) no-repeat 50% 50%;	}
.check_footer_type_model4{	background:url(../images/footer_type/model4.png) no-repeat 50% 50%;	}
.check_footer_type_model5{	background:url(../images/footer_type/model5.png) no-repeat 50% 50%;	}
.check_footer_type_model6{	background:url(../images/footer_type/model6.png) no-repeat 50% 50%;	}
.check_footer_type_model7{	background:url(../images/footer_type/model7.png) no-repeat 50% 50%;	}
.check_footer_type_model8{	background:url(../images/footer_type/model8.png) no-repeat 50% 50%;	}
.check_footer_type_model9{	background:url(../images/footer_type/model9.png) no-repeat 50% 50%;	}
.check_footer_type_model10{	background:url(../images/footer_type/model10.png) no-repeat 50% 50%;	}


.blog_type ul li{		float:left;	width:200px; 	height:200px; 	margin-right:20px;	border:3px solid #ddd;	}
.blog_type ul li label{	float:left;	width:100%; 	height:100%;	text-indent: -9999px;	}
.blog_type .span_select{	display:none;	}
.blog_type ul li.selected{	border:3px solid #ffc96f;	}

.check_blog_type_style1{	background:url(../images/blog_type/style1.png) no-repeat 50% 50%;	}
.check_blog_type_style2{	background:url(../images/blog_type/style2.png) no-repeat 50% 50%;	}


.button_colors ul li{		float:left;	width:100px; 	height:60px; 	margin-right:2px;	border:3px solid #ddd;	}
.button_colors ul li label{	float:left;	width:100%; 	height:100%;	text-indent: -9999px;	}
.button_colors .span_select{	display:none;	}
.button_colors ul li.selected{	border:3px solid #ffc96f;	}

.check_button_colors_ocean{		background:url(../images/button_colors/ocean.png) no-repeat 50% 50%;	}
.check_button_colors_blue{		background:url(../images/button_colors/blue.png) no-repeat 50% 50%;	}
.check_button_colors_green{		background:url(../images/button_colors/green.png) no-repeat 50% 50%;	}
.check_button_colors_pink{		background:url(../images/button_colors/pink.png) no-repeat 50% 50%;	}
.check_button_colors_gray{		background:url(../images/button_colors/gray.png) no-repeat 50% 50%;	}
.check_button_colors_yellow{	background:url(../images/button_colors/yellow.png) no-repeat 50% 50%;	}
.check_button_colors_orange{	background:url(../images/button_colors/orange.png) no-repeat 50% 50%;	}
.check_button_colors_red{		background:url(../images/button_colors/red.png) no-repeat 50% 50%;	}





.sidebar_position{				position:relative;	display:table;	}
.sidebar_position ul {			margin:0;	}
.sidebar_position ul li{			float:left;	width:80px; 	height:80px; 	margin-right:2px;	border:3px solid #ddd;	}
.sidebar_position ul li label{		float:left;	width:100%; 	height:100%;	text-indent: -9999px;	}
.sidebar_position .span_select{	display:none;	}
.sidebar_position ul li.selected{	border:3px solid #ffc96f;	}


.check_single_page_sidebar_position_full{				background-image:url(../images/full_width_page.jpg);	}
.check_single_page_sidebar_position_left{				background-image:url(../images/sidebar_left.jpg);	}
.check_single_page_sidebar_position_right{				background-image:url(../images/sidebar_right.jpg);	}